body{
  background-color: #F2F2F2 !important;
	font-family: 'Averta', sans-serif !important;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 500;
	src: url(../fonts/averta-regular-webfont.woff);
}

.navbar{
  background-color: #111517 !important;
}


.search-box{
	background: #fff;
	width: 680px;
	margin: 0 auto;
	height: 35px;
  border-radius: 2px;
	border: 2px #fff;
	outline: none;
  font-size: 18px;
}

.playlist-view{
    margin-top: 100px; 
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 180px;
  margin: 1rem;
  position: relative;
  width: 300px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*
  ===============================================
  GRID OF TWO (CARD GRID SECTIONS STARTS HERE)
  ===============================================
*/

.playlist-title{
	font-size: 30px;
	font-weight: bold;
  margin: 10px 0 0 0;
}

.card img{
	width: 100%;
	overflow: hidden;
	padding-left: 0 !important;
	margin-left: 0 !important;
}

.no-padding{
	padding-left: 0 !important;
	margin-left: 0 !important;
}

.username{
  
}

.songs{
  
}

/*
a:hover .changespan{
  display: none;
}

a:hover:before{
  padding-top:4px; 
  content: "LETS GOOO"
}
*/

.card a {
    color: #2b363b;
    font-weight: bolder;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 2px;
}

.card a:hover {
    text-decoration: none;
    cursor: pointer;
}

.card a:link {
    color: #2b363b;
}

/* visited link */
.card a:visited {
    color: #111517;
}

/* mouse over link */
.card a:hover {
    color: #111517;
}

/* selected link */
.card a:active {
    color: #111517;
}

/*
  ========================================
  GO FULL WIDTH AT LESS THAN 480 PIXELS
  ========================================
*/

@media only screen and (max-width: 1200px) {
  .card {
    height: inherit;
    }
}