<div class="playlist-view" ng-init="getPlaylists()">
    <div class="container">
        <div class="row">
            <!--ng repeat to cycle over the data in the API-->
            <div class="card col-sm-4" ng-repeat="playlist in playlists">
               <div class="col-md-4 no-padding">
                   <img src="" alt="">
               </div>
               <div class="col-md-8">
                   <h1 class="playlist-title">{{playlist.playlist_name}}</h1>
                   <p><span style="color: #999999;">playlist by </span>{{playlist.username}}</p>
                   <p>{{playlist.number_of_songs}} songs</p>
                   <a></a>
               </div>
            </div>
        </div>
    </div>
</div>