<div class="playlist-view" ng-init="getPlaylists()">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{playlist.playlist_name}}</h3>
                    </div>
                    <div class="panel-body">
                        <p class="desc">{{playlist.username}}</p>
                        <p class="desc">{{playlist.number_of_songs}}</p>
                        <p class="desc">{{playlist.added_date}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>